body {
  background-color: rgb(231, 247, 252);
}
fieldset {
  box-shadow: 0 8px 200px -4px rgb(23, 184, 238);
  border: 2px solid rgb(23, 184, 238);
}

legend {
  font-size: xx-large;
  background-color: lightblue;
  padding: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.s1-1 {
  width: 100%;
}
.s1-2 {
  width: 40%;
}

.input-field {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2vh;
  justify-content: space-between;
  padding: 10px 0px;
}
.input {
  padding: 10px;
  font-size: medium;
  font-weight: 500;
  box-shadow: 0 8px 200px -4px rgb(253, 213, 125);
  border: 0.5px solid rgba(71, 71, 71, 0.336);
}
label {
  font-size: larger;
  font-weight: 550;
}
input::placeholder {
  letter-spacing: 2px;
}

input[type="date"] {
  letter-spacing: 2px;
  font-weight: 500;
  font-size: larger;
}
input[type="submit"]:hover,
input[type="reset"]:hover {
  box-shadow: inset 0px 0px 20px -1px lightblue;
}
input[type="submit"]:active,
input[type="reset"]:active {
  box-shadow: 0 8px 20px -4px lightblue;
  background-color: rgba(173, 216, 230, 0.493);
  transform: scale(1.03);
  transition: all 0.2s ease;
}

@media screen and (min-width: 600px) {
  fieldset {
    width: 500px;
    margin: auto;
    padding: 20px;
    margin-top: 10vh;
  }
}
