* {
    margin: 0;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(-90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,0.6671043417366946) 42%);
}

.topBar {
    display: block;
    background-color: aqua;
    height: 50px;
    text-align: center;
}


legend {
    font-size: 30px;
    font-weight: bold;
}

fieldset {
    background-color:  aliceblue;
    margin: 2%;
    margin-top: 10%;
    border-radius: 5px;
    padding-left: 3%;
    padding-right: 3%;
}

.form_pair {

    display: inline-block;
    width: 100%;
    margin-top: 15px;
}

.form_pair input{
    height: 25px;
    width: 70%;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 10px;
    float: right;
}

.form_pair label {
    width: 15%;
}

.option_pair {
    margin-top: 1%;
}

.option1 {
    width: 40%;
    height: 25px;
    margin-top: 3%;
}
.option2 {
    width: 59%;
    height: 25px;
    margin-top: 3%;
}

.button {
    height: 40px;
    width: 130px;
}

.buttonGroup {
    display: flex;
    padding: 30px 60px 0 60px; 
    justify-content: space-between;
}
